<ng-container *ngIf="tournament; else tournamentUndefined">
  <nav mat-tab-nav-bar>
    <a mat-tab-link [routerLink]="['format']">Format</a>
    <a mat-tab-link [routerLink]="['schedule']">Schedule</a>
    <a mat-tab-link [routerLink]="['participants']">Participants</a>
  </nav>
  <mat-tab-nav-panel #tabPanel>
    <router-outlet></router-outlet>
  </mat-tab-nav-panel>
</ng-container>
<ng-template #tournamentUndefined>
  <p data-test-id="tournament-not-found">The requested tournament does not exist.</p>
</ng-template>
