<mat-toolbar>
  <a mat-icon-button *ngIf="parentUrl$ | async as parentUrl" [routerLink]="parentUrl" aria-label="Navigate to parent page" data-test-id="navigate-back">
    <mat-icon fontIcon="chevron_left"></mat-icon>
  </a>
  <router-outlet name="title" #titleOutlet="outlet"></router-outlet>
  <h1 *ngIf="!titleOutlet.isActivated">{{ title$ | async }}</h1>
  <span class="toolbar-spacer"></span>
  <router-outlet name="actions"></router-outlet>
</mat-toolbar>

<main>
  <router-outlet></router-outlet>
</main>
