:host {
  display: grid;
  grid-template: 1fr / auto 1fr;
  height: 100vh;
  width: 100vw;
}

.container {
  height: 100vh;
  width: 100vw;
}

.sidebar {
  width: 20rem;
}

main {
  padding: 0 1rem;
}
