<nav agariNavigationDrawer>
  <agari-navigation-header>
    <h1>agari-kai</h1>
  </agari-navigation-header>
  <agari-navigation-content>
    <ul *ngIf="navigationItems$ | async as navigationItems">
      <li *ngFor="let navigationItem of navigationItems">
        <a
          agariNavigationLink
          [routerLink]="navigationItem.routerLink"
          routerLinkActive="active"
          [routerLinkActiveOptions]="navigationItem.routerLinkActiveOptions"
          attr.data-test-id="navigation-link-{{ navigationItem.testId }}"
          ><agari-icon *ngIf="navigationItem.icon as icon" [icon]="icon"></agari-icon>{{ navigationItem.label }}</a
        >
      </li>
    </ul>
  </agari-navigation-content>
</nav>
