<mat-nav-list *ngIf="navigationItems$ | async as navigationItems">
  <h1 matSubheader>
    <span>agari-kai {{ currentVersion }}</span>
    <mat-chip-list *ngIf="incomingVersion$ | async as incomingVersion">
      <mat-chip
        [color]="incomingVersion.status | toColor"
        [selected]="incomingVersion.status | toActive"
        [disableRipple]="incomingVersion.status | toDisabled"
        (click)="reload(incomingVersion.status)"
        data-test-id="update-chip"
      >
        <mat-icon matChipAvatar [attr.fontIcon]="incomingVersion.status | toIcon"></mat-icon>
        {{ incomingVersion.version }}</mat-chip
      >
    </mat-chip-list>
  </h1>
  <a
    *ngFor="let navigationItem of navigationItems"
    mat-list-item
    [routerLink]="navigationItem.routerLink"
    routerLinkActive="active"
    [routerLinkActiveOptions]="navigationItem.routerLinkActiveOptions"
    attr.data-test-id="navigation-link-{{ navigationItem.testId }}"
  >
    <mat-icon *ngIf="navigationItem.icon as icon" matListIcon [fontIcon]="icon"></mat-icon>
    {{ navigationItem.label }}
  </a>
</mat-nav-list>
