:host {
  display: flex;
  box-sizing: border-box;
  width: 20.5rem;
  padding: 0 1.5rem 0 0.75rem;
  margin: 0 -0.75rem;
  gap: 0.75rem;

  --pill-height: 3.5rem;
}

:host-context(.active) {
  font-weight: 600;

  background-color: var(--color-secondary-container);
  color: var(--color-on-secondary-container);
}
