:host {
  display: flex;
  position: relative;
  box-sizing: border-box;
  width: 20.5rem;
  border-radius: 1.75rem;
  padding: 0 1.5rem 0 0.75rem;
  margin: 0 -0.75rem;
  line-height: 3.5rem;
  gap: 0.75rem;
  font-weight: 500;

  transition: font-weight 0.2s;

  &:hover,
  &:focus {
    font-weight: 600;

    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      border-radius: 1.75rem;

      background-color: var(--color-on-surface);
      opacity: 0.12;
    }
  }
}

:host-context(.active) {
  background-color: var(--color-secondary-container);
  color: var(--color-on-secondary-container);

  font-weight: 600;
}
