:host {
  display: grid;
  box-sizing: border-box;
  width: calc(var(--navigation-drawer-width) - 2 * var(--navigation-drawer-padding-side) + 2 * var(--navigation-link-spacer));
  padding: 0 var(--navigation-link-spacer);
  margin: 0 calc(-1 * var(--navigation-link-spacer));
  gap: var(--navigation-link-spacer);

  grid-template-columns: var(--icon-width) 1fr;

  --pill-height: 2.5rem;

  --navigation-link-spacer: var(--spacer-small);

  > span {
    grid-column: 2;
  }
}

:host-context(.active) {
  font-weight: var(--pill-font-weight--accent);

  background-color: var(--color-secondary-container);
  color: var(--color-on-secondary-container);
}
