@use '@angular/material' as mat;
@use './scss/palettes';

@import url('https://fonts.googleapis.com/css2?family=M+PLUS+2:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200');

$agari-kai-client-font-family: "'M PLUS 2', sans-serif";
$agari-kai-client-typography: mat.define-typography-config(
  $font-family: $agari-kai-client-font-family,
);

@include mat.core($agari-kai-client-typography);

$agari-kai-client-theme: mat.define-light-theme(
  (
    color: (
      primary: palettes.$primary,
      accent: palettes.$accent,
      warn: palettes.$warn,
    ),
  )
);

@include mat.all-component-themes($agari-kai-client-theme);

.theme-dark {
  $agari-kai-client-dark-theme: mat.define-dark-theme(
    (
      color: (
        primary: palettes.$primary,
        accent: palettes.$accent,
        warn: palettes.$warn,
      ),
    )
  );

  @include mat.all-component-colors($agari-kai-client-dark-theme);
}

html,
body {
  height: 100vh;
  width: 100vw;
}
body {
  margin: 0;
}
