html,
body {
  padding: 0;
  margin: 0;
  height: 100vh;
  width: 100vw;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  display: block;
  list-style-type: none;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-inline-start: 0;
}
