:host {
  background-color: var(--color-surface);
  color: var(--color-on-surface-variant);
  box-sizing: border-box;
  height: 100%;
  width: var(--navigation-drawer-width);
  border-radius: 0 1rem 1rem 0;
  padding: 0 var(--navigation-drawer-padding-side);

  --navigation-drawer-width: 20rem;
  --navigation-drawer-padding-side: 1.75rem;
}
